In [1]:
import pandas as pd
import numpy as np

In [2]:
weather_data_file = '../data/NOAA_weather_data/1992-2015_california_only_all.csv'
fire_data_file = '../data/USDA_wildfire_data/regridded_california_fires.csv'
training_data_file = '../data/training_data/1992-2015_training_data_only.csv'

In [3]:
weather = pd.read_csv(weather_data_file)
weather['time'] = pd.to_datetime(weather['time'])
weather['date'] = weather['time'].dt.date
weather['date'] = pd.to_datetime(weather['date'])

fires = pd.read_csv(fire_data_file)
fires['ignition'] = 1
fires['date'] = pd.to_datetime(fires['date'])

In [4]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28752480 entries, 0 to 28752479
Data columns (total 23 columns):
time         datetime64[ns]
lat          float64
lon          float64
air.sfc      float64
air.2m       float64
apcp         float64
crain        float64
rhum.2m      float64
dpt.2m       float64
pres.sfc     float64
uwnd.10m     float64
vwnd.10m     float64
veg          float64
dlwrf        float64
dswrf        float64
lcdc         float64
hcdc         float64
mcdc         float64
hpbl         float64
prate        float64
vis          float64
ulwrf.sfc    float64
date         datetime64[ns]
dtypes: datetime64[ns](2), float64(21)
memory usage: 4.9 GB

In [5]:
fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189550 entries, 0 to 189549
Data columns (total 7 columns):
lat           189550 non-null float64
lon           189550 non-null float64
date          189550 non-null datetime64[ns]
time          110217 non-null float64
size          189550 non-null float64
size_class    189550 non-null object
ignition      189550 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 10.1+ MB

In [6]:
weather['time'].values

array(['1992-01-01T00:00:00.000000000', '1992-01-01T00:00:00.000000000',
       '1992-01-01T00:00:00.000000000', ...,
       '2015-12-31T21:00:00.000000000', '2015-12-31T21:00:00.000000000',
       '2015-12-31T21:00:00.000000000'], dtype='datetime64[ns]')

In [8]:
fires['date'].values

array(['2005-02-02T00:00:00.000000000', '2004-05-12T00:00:00.000000000',
       '2004-05-31T00:00:00.000000000', ...,
       '2015-05-02T00:00:00.000000000', '2015-10-14T00:00:00.000000000',
       '2015-03-14T00:00:00.000000000'], dtype='datetime64[ns]')

In [9]:
training_data = pd.merge(weather, fires, on=['lat', 'lon', 'date'], how='left')

In [10]:
training_data.head()

,time_x,lat,lon,air.sfc,air.2m,apcp,crain,rhum.2m,dpt.2m,pres.sfc,...,mcdc,hpbl,prate,vis,ulwrf.sfc,date,time_y,size,size_class,ignition
0,1992-01-01,40.29749,-124.3408,284.35388,284.81824,0.0,0.0,88.3125,282.89040,100173.56,...,0.0,533.4578,-0.000003,20007.979,359.9375,1992-01-01,NaN,NaN,NaN,NaN
1,1992-01-01,38.96153,-123.5579,285.66638,286.25574,0.0,0.0,67.9375,280.43730,99073.56,...,0.0,671.8578,-0.000003,20007.979,353.8750,1992-01-01,NaN,NaN,NaN,NaN
2,1992-01-01,39.24150,-123.6393,286.04138,286.81824,0.0,0.0,69.8125,281.35916,99573.56,...,0.0,786.9578,-0.000003,20007.979,349.4375,1992-01-01,NaN,NaN,NaN,NaN
3,1992-01-01,39.52163,-123.7215,286.04138,286.81824,0.0,0.0,69.8125,281.35916,99473.56,...,0.0,917.4578,-0.000003,20007.979,349.4375,1992-01-01,NaN,NaN,NaN,NaN
4,1992-01-01,39.80193,-123.8045,283.35388,284.06824,0.0,0.0,68.8125,278.55447,96573.56,...,0.0,833.7578,-0.000003,20007.979,341.6250,1992-01-01,NaN,NaN,NaN,NaN

In [11]:
training_data['air.sfc'].isnull().sum()

0

In [12]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29039328 entries, 0 to 29039327
Data columns (total 27 columns):
time_x        datetime64[ns]
lat           float64
lon           float64
air.sfc       float64
air.2m        float64
apcp          float64
crain         float64
rhum.2m       float64
dpt.2m        float64
pres.sfc      float64
uwnd.10m      float64
vwnd.10m      float64
veg           float64
dlwrf         float64
dswrf         float64
lcdc          float64
hcdc          float64
mcdc          float64
hpbl          float64
prate         float64
vis           float64
ulwrf.sfc     float64
date          datetime64[ns]
time_y        float64
size          float64
size_class    object
ignition      float64
dtypes: datetime64[ns](2), float64(24), object(1)
memory usage: 6.1+ GB

In [13]:
training_data.rename(columns={'time_x':'weather_bin_time','time_y':'fire_discovery_time'}, inplace=True)
training_data.drop(['date'], axis=1, inplace=True)
training_data.head()

,weather_bin_time,lat,lon,air.sfc,air.2m,apcp,crain,rhum.2m,dpt.2m,pres.sfc,...,hcdc,mcdc,hpbl,prate,vis,ulwrf.sfc,fire_discovery_time,size,size_class,ignition
0,1992-01-01,40.29749,-124.3408,284.35388,284.81824,0.0,0.0,88.3125,282.89040,100173.56,...,11.0,0.0,533.4578,-0.000003,20007.979,359.9375,NaN,NaN,NaN,NaN
1,1992-01-01,38.96153,-123.5579,285.66638,286.25574,0.0,0.0,67.9375,280.43730,99073.56,...,6.0,0.0,671.8578,-0.000003,20007.979,353.8750,NaN,NaN,NaN,NaN
2,1992-01-01,39.24150,-123.6393,286.04138,286.81824,0.0,0.0,69.8125,281.35916,99573.56,...,6.0,0.0,786.9578,-0.000003,20007.979,349.4375,NaN,NaN,NaN,NaN
3,1992-01-01,39.52163,-123.7215,286.04138,286.81824,0.0,0.0,69.8125,281.35916,99473.56,...,6.0,0.0,917.4578,-0.000003,20007.979,349.4375,NaN,NaN,NaN,NaN
4,1992-01-01,39.80193,-123.8045,283.35388,284.06824,0.0,0.0,68.8125,278.55447,96573.56,...,6.0,0.0,833.7578,-0.000003,20007.979,341.6250,NaN,NaN,NaN,NaN

In [14]:
training_data.describe()

,lat,lon,air.sfc,air.2m,apcp,crain,rhum.2m,dpt.2m,pres.sfc,uwnd.10m,...,lcdc,hcdc,mcdc,hpbl,prate,vis,ulwrf.sfc,fire_discovery_time,size,ignition
count,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,...,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,2.903933e+07,781400.000000,1.333544e+06,1333544.0
mean,3.712666e+01,-1.195271e+02,2.890800e+02,2.880071e+02,1.737499e-01,6.416550e-02,4.918569e+01,2.747650e+02,9.153056e+04,1.057519e+00,...,1.140367e+01,1.641086e+01,1.602698e+01,1.092735e+03,1.582629e-05,1.841971e+04,4.012357e+02,1383.964361,6.542902e+01,1.0
std,2.558607e+00,2.504259e+00,1.377350e+01,1.009739e+01,9.301872e-01,2.450475e-01,2.619865e+01,7.354758e+00,6.963395e+03,2.683459e+00,...,2.652300e+01,2.732012e+01,3.090598e+01,8.710920e+02,9.346681e-05,4.589820e+03,7.845877e+01,492.268955,1.922461e+03,0.0
min,3.268389e+01,-1.243408e+02,2.422595e+02,2.465075e+02,0.000000e+00,0.000000e+00,1.000000e+00,1.921248e+02,6.624355e+04,-2.030144e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,6.194956e+01,-4.861644e-05,3.608097e+00,1.950625e+02,0.000000,1.000000e-03,1.0
25%,3.499029e+01,-1.214709e+02,2.791194e+02,2.809448e+02,0.000000e+00,0.000000e+00,2.669481e+01,2.699836e+02,8.715334e+04,-7.174530e-01,...,0.000000e+00,0.000000e+00,0.000000e+00,3.750546e+02,-2.251263e-06,2.000606e+04,3.453125e+02,1115.000000,1.000000e-01,1.0
50%,3.683767e+01,-1.199051e+02,2.867109e+02,2.870564e+02,0.000000e+00,0.000000e+00,4.553017e+01,2.753505e+02,9.233506e+04,1.052383e+00,...,0.000000e+00,4.000000e+00,0.000000e+00,8.782482e+02,0.000000e+00,2.000769e+04,3.815000e+02,1429.000000,2.500000e-01,1.0
75%,3.925970e+01,-1.174117e+02,2.973691e+02,2.947252e+02,1.921475e-03,0.000000e+00,7.123541e+01,2.802059e+02,9.707984e+04,2.734268e+00,...,0.000000e+00,1.800000e+01,1.300000e+01,1.552788e+03,3.701515e-06,2.001016e+04,4.436875e+02,1716.000000,1.000000e+00,1.0
max,4.197182e+01,-1.143645e+02,3.384141e+02,3.233755e+02,5.241433e+01,1.000000e+00,1.000312e+02,2.993494e+02,1.035852e+05,2.156605e+01,...,1.000000e+02,1.000000e+02,1.000000e+02,7.985581e+03,5.932878e-03,2.002581e+04,7.338750e+02,2359.000000,2.800590e+05,1.0

In [15]:
training_data.to_csv(training_data_file, index=False)