In [2]:
NARR_temp_data <- read.csv(file="../data/NOAA_NARR_weather_data/california_air_sfc_2015.csv", header=TRUE, sep=",")

In [3]:
head(NARR_temp_data, n=10)

   time                air      lat      lon
1  2015-01-01 00:00:00 287.1021 40.29749 -124.3408
2  2015-01-01 00:00:00 280.9146 38.96153 -123.5579
3  2015-01-01 00:00:00 282.1021 39.24150 -123.6393
4  2015-01-01 00:00:00 282.1021 39.52163 -123.7215
5  2015-01-01 00:00:00 279.3521 39.80193 -123.8045
6  2015-01-01 00:00:00 287.1646 40.08238 -123.8883
7  2015-01-01 00:00:00 280.3521 40.36298 -123.9729
8  2015-01-01 00:00:00 279.0396 40.64372 -124.0584
9  2015-01-01 00:00:00 282.0396 38.18395 -122.9628
10 2015-01-01 00:00:00 287.8521 38.46373 -123.0403

In [4]:
library(ggplot2)

ERROR: Error in library(ggplot2): there is no package called ‘ggplot2’

In [ ]:

ggplot(df, aes(x = lon, y = lat, fill = tasmax)) + 
  geom_tile() + facet_wrap(~ day) + scale_fill_viridis(na.value = "transparent") + 
  theme_bw() + theme(legend.position = "bottom")